apiVersion: v1
kind: Service
metadata:
  name: binddns-webhook-svc
  namespace: kube-system
  labels:
    app: binddns-webhook-svc
spec:
  ports:
    - port: 443
      targetPort: 8443
  selector:
    app: binddns-webhook
