
.add-record {
    background: #0090f4;
    font-size: 13px;
    padding: 6px 8px;
    color: #FFF;
    border-radius: 3px;
    border: 1px solid #108ee9;
    outline: none;
    cursor: pointer;
    float: right;
    margin-top: 12px;
}

.add-record:hover {
    background-color: #49a5e6;
    border-color: #1c96ef;
}

.entity ul li {
    font-weight: normal;
    line-height: 45px;
}

.list-entity .edit {
    cursor: pointer;
}

.record-host {
    width: 15%;
}

.record-type {
    width: 10%;
}

.mx-priority {
    width: 15%;
}

.ttl {
    width: 10%;
}

.record-data {
    width: 20%;
}

.enabled {
    width: 10%;
}

.operate {
    width: 20%;
}

.list-entity input {
    width: 80%;
    outline: rgb(115, 123, 132) 0;
    border: 1px #d2d2d2 solid;
    border-radius: 3px;
    line-height: 16px;
    font-size: 12px;
    padding: 5px 0 5px 10px;
    margin: 9px 3px 0;
}

.entity-edit select {
    width: 70px;
    margin: 9px 3px 0;
    height: 25px;
    font-size: 12px;
    outline: none;
    border: 1px solid rgb(166, 166, 166);
    border-radius: 3px;
}

.entity-edit ul {
    padding-left: 0;
}

.entity-edit ul li {
    line-height: normal;
}

.entity-edit .mx-priority input {
    width: 30px;
    text-align: center;
    padding-left: 0;
    margin-left: 25px;
}

.handle-btn {
    width: 45px;
    height: 30px;
    border: 0 none;
    cursor: pointer;
    margin: 8px 5px 0 0;
    border-radius: 3px;
    font-size: 12px;
    color: #fff;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    padding: 0 5px;
}

.handle-btn.handle-confirm {
    background: #0090f4;
}
.handle-btn.handle-cancel {
    background: #ccc;
}